* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: handlee;
    font-weight: bold;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.onload {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    background-color: black;
}
.bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url(foto/riverside.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* LOAD */
.load {
    z-index: 9;
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 1;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    overflow: hidden !important;
}
.textLoad1,
.textLoad2 {
    color: white;
    margin-block: 5px;
}
.switchImg {
    margin-top: 10px;
    display: none;
    opacity: 0;
    -webkit-animation: fadeIn 2s forwards;
            animation: fadeIn 2s forwards;
}
/* content 1 */
.bird {
    position: absolute;
    top: 50px;
    z-index: 4;
    -webkit-animation: slidebird 8s linear infinite;
            animation: slidebird 8s linear infinite;
    -webkit-transform: translateX(-100vw);
        -ms-transform: translateX(-100vw);
            transform: translateX(-100vw);
}
#text {
    opacity: 0;
    -webkit-transform: translateX(-19px);
        -ms-transform: translateX(-19px);
            transform: translateX(-19px);
    -webkit-animation: fade 2.8s infinite;
            animation: fade 2.8s infinite;
}
.bird-instance {
    -webkit-animation: upAndDown 1s 1s infinite alternate linear;
            animation: upAndDown 1s 1s infinite alternate linear;
    overflow: visible;
}
.bird-instance:nth-child(2),
.bird-instance:nth-child(3) {
    position: absolute;
}
.bird-instance:nth-child(2) {
    right: 25px;
    bottom: -25px;
}
.bird-instance:nth-child(3) {
    left: -80px;
    top: -29px;
}

#right-wing {
    -webkit-animation: right-wing 1s 1s infinite alternate linear;
            animation: right-wing 1s 1s infinite alternate linear;
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
}
#left-wing {
    -webkit-animation: left-wing 1s infinite alternate linear;
            animation: left-wing 1s infinite alternate linear;
    -webkit-transform-origin: center bottom;
        -ms-transform-origin: center bottom;
            transform-origin: center bottom;
    transform-box: fill-box;
}

/* Bird */
@-webkit-keyframes slidebird {
    from {
        -webkit-transform: translateX(-100vw) !important;
                transform: translateX(-100vw) !important;
    }
    to {
        -webkit-transform: translateX(120vw);
                transform: translateX(120vw);
    }
}
@keyframes slidebird {
    from {
        -webkit-transform: translateX(-100vw) !important;
                transform: translateX(-100vw) !important;
    }
    to {
        -webkit-transform: translateX(120vw);
                transform: translateX(120vw);
    }
}
@-webkit-keyframes fade {
    20% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, -20px) rotate(-30deg);
                transform: translate(0, -20px) rotate(-30deg);
        opacity: 0;
    }
}
@keyframes fade {
    20% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, -20px) rotate(-30deg);
                transform: translate(0, -20px) rotate(-30deg);
        opacity: 0;
    }
}
@-webkit-keyframes upAndDown {
    from {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(25px);
                transform: translateY(25px);
    }
}
@keyframes upAndDown {
    from {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(25px);
                transform: translateY(25px);
    }
}
@-webkit-keyframes right-wing {
    to {
        -webkit-transform: rotateX(171deg);
                transform: rotateX(171deg);
    }
}
@keyframes right-wing {
    to {
        -webkit-transform: rotateX(171deg);
                transform: rotateX(171deg);
    }
}

@-webkit-keyframes left-wing {
    to {
        -webkit-transform: rotateX(171deg) rotate(41deg);
                transform: rotateX(171deg) rotate(41deg);
    }
}

@keyframes left-wing {
    to {
        -webkit-transform: rotateX(171deg) rotate(41deg);
                transform: rotateX(171deg) rotate(41deg);
    }
}
/* END BIRD */

#world {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}
.confetti {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
}
.content1 {
    width: 100%;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    padding-top: 150px;
    padding-bottom: 30px;
}

.banner {
    position: absolute;
    top: -58px;
    width: 100%;
    z-index: 3;
    -webkit-animation: sidetoside 1s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55) alternate;
            animation: sidetoside 1s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55) alternate;
}
.content1 .text {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    max-width: 339px;
    font-size: 139%;
    background-color: white;
    border-radius: 0 0 19px 19px;
    color: #1b96d0;
    -webkit-box-shadow: 0 7px 8px #0000007a;
            box-shadow: 0 7px 8px #0000007a;
    padding: 9px 5px;
}
.foto1,
.cake {
    display: block;
    margin: 0 auto;
}
.wrap {
    -webkit-animation: goyang 1s infinite cubic-bezier(0.4, 0, 1, 1) alternate;
            animation: goyang 1s infinite cubic-bezier(0.4, 0, 1, 1) alternate;
}
.foto1 {
    width: 80%;
    max-width: 339px;
    min-width: 219px;
    border-radius: 19px 19px 0 0;
    -webkit-box-shadow: 0 0px 8px #0000007a;
            box-shadow: 0 0px 8px #0000007a;
}

.content1 .cake {
    width: 80%;
    max-width: 500px;
    margin: 10px auto;
}
button {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#ff009c), to(#ff94b4));
    background-image: -o-linear-gradient(bottom right, #ff009c, #ff94b4);
    background-image: linear-gradient(to top left, #ff009c, #ff94b4);
    padding: 7px 20px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    border: 2px solid white;
    -webkit-animation: bounceButton 0.5s ease infinite alternate;
            animation: bounceButton 0.5s ease infinite alternate;
    display: block;
    z-index: 3;
    position: relative;
}

/* content 2 UTAMA */
.content2 {
    position: fixed;
    z-index: 99;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.575);
    display: none;
    opacity: 0;
    -webkit-animation: fadeIn 1s forwards;
            animation: fadeIn 1s forwards;
}
@-webkit-keyframes fadeIn {
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.paper {
    position: relative;
    width: 80%;
    max-width: 800px;
    min-width: 360px;
    height: 480px;
    margin-inline: auto;
    margin-top: 19vh;
    background: #fafafa;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -webkit-transform: translateX(-999px);
        -ms-transform: translateX(-999px);
            transform: translateX(-999px);
    -webkit-animation: swipe 1s forwards;
            animation: swipe 1s forwards;
}
@-webkit-keyframes swipe {
    to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes swipe {
    to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
.paper:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    background: -o-radial-gradient(#575450 6px, transparent 7px) repeat-y;
    background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
    background-size: 30px 30px;
    border-right: 3px solid #d44147;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.paper-content {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 30px;
    left: 40px;
    background: -o-linear-gradient(transparent, transparent 28px, #91d1d3 28px);
    background: linear-gradient(transparent, transparent 28px, #91d1d3 28px);
    background-size: 30px 30px;
}
.paper-content textarea {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    line-height: 30px;
    padding: 0 10px;
    border: 0;
    outline: 0;
    background: transparent;
    color: rgb(0, 0, 0);
    font-family: "Handlee", cursive;
    font-weight: bold;
    font-size: 17px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1;
}
.paper-content img:first-child {
    position: absolute;
    bottom: 5px;
    left: 11px;
    width: 100px;
    opacity: 0;
    -webkit-transform: translateY(19px);
        -ms-transform: translateY(19px);
            transform: translateY(19px);
    -webkit-animation: stiker 1.5s 5.5s forwards;
            animation: stiker 1.5s 5.5s forwards;
}
.paper-content img:nth-child(2) {
    position: absolute;
    bottom: -39px;
    right: -99px;
    width: 100px;
    -webkit-animation: nobita 1.5s 5.5s forwards;
            animation: nobita 1.5s 5.5s forwards;
}
@-webkit-keyframes stiker {
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes stiker {
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes nobita {
    to {
        right: -19px;
    }
}
@keyframes nobita {
    to {
        right: -19px;
    }
}

@-webkit-keyframes bounceButton {
    to {
        -webkit-transform: translateY(8px);
                transform: translateY(8px);
    }
}

@keyframes bounceButton {
    to {
        -webkit-transform: translateY(8px);
                transform: translateY(8px);
    }
}
@-webkit-keyframes sidetoside {
    to {
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
    }
}
@keyframes sidetoside {
    to {
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
    }
}
@-webkit-keyframes goyang {
    0% {
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
    }
    50% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    100% {
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
    }
}
@keyframes goyang {
    0% {
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
    }
    50% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    100% {
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
    }
}

@font-face {
    font-family: handlee;
    src: url(font/Handlee-Regular.ttf);
}
